body {

    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #FFFF00;

    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
    max-width: 1920px;
    margin: 0 auto;
    ;

}



@media screen and (max-width: 767px) {}

#desktop_logotop {
    position: absolute;
    top: 3dvh;
    left: 2vw;


}

#desktop_arboles {
    position: absolute;
    bottom: 0dvh;
    left: 2vw;


}

#desktop_buttons {
    position: absolute;
    top: 48dvh;
    right: 9vw;

}

#desktop_leftbar {
    position: absolute;
    top: 0dvh;
    left: 0vw;
    width: 1000vw;
    height: 10dvh;
    background-color: #ffffff;
}

#desktop_button_up,
#desktop_button_down {
    margin: 1vw;
}

#desktop_button_up img,
#desktop_button_down img {
    width: 3vw;
}