body, html {
    font-family: "LEGO Typewell", serif;

    color: #262626;
    background-color: #FFFF00;


}




#lego_slide1 {

    background-color: #FFFF00;
    color: #011C58;
}


#lego_slide2 {
    background-color: #011C58;
    color: #ffffff;
}

#lego_slide3 {
    background-color: #011C58;
    color: #ffffff;
}

#lego_slide4 {
    background-color: #FF7673E5;
    color: #000000;

}